.header {
	padding: 1.25rem 0;
	transition: background var(--transition-duration) var(--transition-type), padding var(--transition-duration) var(--transition-type);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1060;

	@media (min-width: 992px) {
		background-color: var(--bg-light);
		padding: 1rem 0;
	}

	@media (max-width: 992px) {
		&.scrollable {
			padding-block: .75rem;
			background-color: var(--bg-light);

			.burger span {
				background-color: var(--title-color);
			}

			.brand .brand-slogan {
				color: var(--title-color);
			}

			.header-callback .btn-callback {
				--_color: var(--title-color);
			}
		}
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-brand {
		font-size: .625rem;

		@media (min-width: 992px) {
			font-size: var(--fs-1);
		}

		.brand-image {
			width: 2.5rem;
			height: 2.5rem;
		}

		.brand-slogan {
			@media (max-width: 992px) {
				max-width: 5rem;
				color: var(--light-color);
				margin-left: .625rem;
				border-left: none;
				padding: 0;
			}
		}
	}

	&-nav {
		display: none;

		@media (min-width: 992px) {
			display: flex;
			align-items: center;
			gap: 1.5rem;
			margin-inline: auto;
		}
	}

	&-callback {
		.btn-callback {
			@media (max-width: 992px) {
				--_color: var(--light-color);
			}
		}
	}

	&-end {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		
		.choices {
			display: none;
			@media (min-width: 992px) {
				display: block;
			}
		}

		@media (min-width: 1200px) {
			gap: 2rem;
		}
	}
}