.section {
	margin-bottom: 3.125rem;

	@media (min-width: 992px) {
		margin-bottom: 7.5rem;
	}
}

.section-header {
	display: flex;
	flex-direction: column;
	gap: .75rem;
	margin-bottom: 1.5rem;

	@media (min-width: 992px) {
		gap: 2rem;
		margin-bottom: 2rem;
	}

	.section-title,
	.section-subtitle {
		margin: 0;
	}
}

.section-title {
	font-size: var(--h1);
}

.section-subtitle {
	font-size: var(--fs-base);
	line-height: 1.25;

	@media (min-width: 992px) {
		font-size: var(--fs-4);
	}
}