.section {
	margin-bottom: 3.125rem;

	@media (min-width: 992px) {
		margin-bottom: 7.5rem;
	}
}

.section--light {
	margin-inline: var(--container-offset);
	background-color: var(--bg-light);
	border-radius: .5rem;
	padding-block: 2rem;
	box-shadow: 1rem .625rem 2.5rem 0 rgba(0, 0, 0, 0.07);

	@media (min-width: 992px) {
		margin-inline: unset;
		border-radius: unset;
		padding-block: 3.125rem;
	}
}

.section-header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: .75rem;
	margin-bottom: 1.5rem;

	&:not(.has-partner) {
		flex-direction: column;
		align-items: initial;
		justify-content: initial;
	}

	.partner {
		display: none;
	}

	@media (min-width: 992px) {
		gap: 2rem;
		margin-bottom: 2rem;

		.partner {
			display: flex;
		}
	}

	.section-title,
	.section-subtitle {
		margin: 0;
	}
}

.section-title {
	font-size: var(--h1);
}

.section-subtitle {
	font-size: var(--fs-base);
	line-height: 1.25;

	@media (min-width: 992px) {
		font-size: var(--fs-4);
	}
}

.section-background {
	background-repeat: no-repeat;
	
	@media (min-width: 1200px) {
		background-image: url(../img/background-svg.svg);
		background-size: cover;
		background-position: right bottom;
	}

	&-circle {
		@media (min-width: 1200px) {
			background-image: url(../img/background-circle-svg.svg);
			background-size: contain;
			background-position: calc(100% + 109rem - 50vw) bottom;
		}
	}

	&-car {
		@media (min-width: 992px) {
			background-image: url(../img/car.png);
			background-size: 43.375rem 14.25rem;
			background-position: calc(100% + 45rem - 50vw) top;
			margin-top: -2rem;
			padding-top: 2rem;
		}
	}

	&--offset-bottom {
		@media (min-width: 1200px) {
			margin-bottom: -7.5rem;
			padding-bottom: 15rem;

			:last-child {
				margin-bottom: 0;
			}
		}
	}
}