.section {
	margin-bottom: 3.125rem;

	@media (min-width: 992px) {
		margin-bottom: 7.5rem;
	}
}

.section-header {
	display: flex;
	flex-direction: column;
	gap: .75rem;
	margin-bottom: 1.5rem;

	@media (min-width: 992px) {
		gap: 2rem;
		margin-bottom: 2rem;
	}

	.section-title,
	.section-subtitle {
		margin: 0;
	}
}

.section-title {
	font-size: var(--h1);
}

.section-subtitle {
	font-size: var(--fs-base);
	line-height: 1.25;

	@media (min-width: 992px) {
		font-size: var(--fs-4);
	}
}

.section-background {

	@media (min-width: 1200px) {
		background-image: url(../img/background-svg.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right bottom;

		:last-child {
			margin-bottom: 0;
		}
	}

	&--offset-bottom {
		@media (min-width: 1200px) {
			margin-bottom: -7.5rem;
			padding-bottom: 15rem;
		}
	}
}