<header class="header">
  <div class="container">
    <button type="button" class="btn burger" data-burger>
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </button>

    <a href="./index.html" class="brand header-brand">
      <picture>
        <source srcset="./img/logo.webp" type="image/webp">
        <img loading="lazy" src="./img/logo.png" class="brand-image" width="68" height="68" alt="369 группа компаний">
      </picture>
      <span class="brand-slogan">
        Генеральный 
        партнер Яндекс
      </span>
    </a>

    <nav class="header-nav">
      <div class="dropdown">
        <button type="button" class="btn dropdown-button">
          Аренда авто
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/dropdown.svg#svg-dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="dropdown-body">
          <div class="dropdown-content">
            <ul class="list-reset dropdown-menu">
              <li>
                <a href="#" class="btn btn-link">
                  Эконом
                </a>
              </li>
              <li>
                <a href="./comfort.html" class="btn btn-link">
                  Комфорт
                </a>
              </li>
              <li>
                <a href="./comfort-plus.html" class="btn btn-link">
                  Комфорт +
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a href="#" class="btn btn-link">
        О компании
      </a>
      <a href="#" class="btn btn-link">
        Контакты
      </a>
    </nav>

    <div class="header-end">
      <select class="choices-js">
        <option value="m">Москва</option>
        <option value="p">Санкт-Петербург</option>
        <option value="k">Казань</option>
      </select>

      <div class="callback header-callback">
        <a href="https://api.whatsapp.com/send?phone=79250181085&text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C%2C%20%D1%8F%20%D1%85%D0%BE%D1%87%D1%83%20%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%B8%D1%82%D1%8C%20%D0%B7%D0%B0%D1%8F%D0%B2%D0%BA%D1%83" class="btn btn-whatsapp" target="_blank">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
            </svg>
          </span>
        </a>
        <a href="https://t.me/+79250181085" class="btn btn-telegram" target="_blank">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
            </svg>
          </span>
        </a>
        <a href="tel:+79344773228" class="btn btn-callback">
          +7 (934) 477-32-28
          <span>работаем круглосуточно</span>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="burger-menu" data-menu="">
  <div class="burger-menu-header">
    <a href="#" class="brand">
      <picture>
        <source srcset="./img/logo.webp" type="image/webp">
        <img loading="lazy" src="./img/logo.png" class="brand-image" width="68" height="68" alt="369 группа компаний">
      </picture>
      <span class="brand-slogan">
        Генеральный 
        партнер Яндекс
      </span>
    </a>

    <button type="button" class="btn burger burger--active" data-menu-close>
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </button>
  </div>

  <div class="burger-menu-body">
    <nav class="burger-menu-nav">
      <div class="accordion">
        <button type="button" class="btn accordion-button">
          Аренда авто
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/dropdown.svg#svg-dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="accordion-body">
          <div class="accordion-content">
            <ul class="list-reset accordion-menu">
              <li>
                <a href="#" class="btn btn-link">
                  Эконом
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-link">
                  Комфорт
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-link">
                  Комфорт +
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a href="#" class="btn btn-link">
        О компании
      </a>
      <a href="#" class="btn btn-link">
        Контакты
      </a>
    </nav>

    <select class="choices-js">
      <option value="m">Москва, метро Аннино</option>
      <option value="p">Санкт-Петербург, метро Аннино</option>
      <option value="k">Казань, метро Аннино</option>
    </select>

    <div class="callback burger-menu-callback">
      <a href="https://api.whatsapp.com/send?phone=79250181085&text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C%2C%20%D1%8F%20%D1%85%D0%BE%D1%87%D1%83%20%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%B8%D1%82%D1%8C%20%D0%B7%D0%B0%D1%8F%D0%B2%D0%BA%D1%83" class="btn btn-whatsapp" target="_blank">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
          </svg>
        </span>
      </a>
      <a href="https://t.me/+79250181085" class="btn btn-telegram" target="_blank">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
          </svg>
        </span>
      </a>
      <a href="tel:+79344773228" class="btn btn-callback">
        +7 (934) 477-32-28
        <span>работаем круглосуточно</span>
      </a>
    </div>
  </div>
</div>
<div data-menu-overlay=""></div>
