<div class="messangers">
	<a href="https://api.whatsapp.com/send?phone=79250181085&text=Добрый%20день%2C%20я%20хочу%20оставить%20заявку" target="_blank" class="btn btn-base btn-whatsapp">
		<span class="icon">
			<svg>
				<use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
			</svg>
		</span>
		Whatsapp
	</a>
	<a href="https://t.me/+79250181085" target="_blank" class="btn btn-base btn-telegram">
		<span class="icon">
			<svg>
				<use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
			</svg>
		</span>
		Telegram
	</a>
</div>